.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }

.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }

.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-48 { width: 48px; height: 48px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-48 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png); background-size: 60px 178px; } }

.footer {
    background : #131519;
    color : #FCFCFC;
    position: absolute;
    width: 100%;
    bottom: -100;
}

.textPanel {
    background: #131519;
    color: #FCFCFC;
    opacity: 0.7;
}

a.facebook {
    display: inline-block;
    background-image: url(../img/Facebook-light.png);
    background-size: 100%;
    width: 24px;
    height: 24px;
}

a.facebook:hover {
    background-image: url(../img/Facebook-color.png);
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
    
}

a.instagram {
    display: inline-block;
    background-image: url(../img/Instagram-light.png);
    background-size: 100%;
    width: 24px;
    height: 24px;
}

a.instagram:hover {
    background-image: url(../img/Instagram-color.png);
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

.grayscale-hover:hover {
    vertical-align: central;
    -webkit-transition: 500ms;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
}

span.text-content {
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
}

li:hover span.text-content {
  opacity: 1;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}