{% extends "_layouts/header.html" %}

{% block page_title%}Blog{% endblock%}

{% block content %}
<body data-spy="affix" data-offset="20" data-offset-bottom="200" id="top">


    {% include "_layouts/navbar.html" with profileLink='/#profile' contactLink='/#contact' %}
    
    <div class="container container-fluid">
        
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="lead"></div>
            {% for post in post_list %}
            <div class="row" id="{{ post.slug }}">
            
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-md-5">
                    <br/><br/><br/>
                    <img src="{{ post.image.url }}" width="100%">
                    <h5 class="text-right"><small>- Posted on {{ post.updated_at }} by {{ post.author }} </small></p>
                </div>
                {% endif %}
            
                <div class="col-md-7">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <p>{{ post.content }}</p>
                    <!-- Share button here -->
                    <div>
                        <div class="fb-share-button" data-href="{{ post.get_absolute_url }}" data-layout="button_count"></div>
                        <a href="{{ post.get_absolute_url }}#disqus_thread"><p class="text-right">Comment</h4></a>
                    </div>
                </div>
                
                {% if forloop.counter0|divisibleby:2 %}
                <div class="col-md-5">
                    <br/><br/><br/>
                    <img src="{{ post.image.url }}" width="100%">
                    <h5 class="text-right"><small>- Posted on {{ post.updated_at }} by {{ post.author }} </small></p>
                </div>
                {% endif %}
                
                
            </div>

            <hr/>
            {% endfor %}
            <p>
                <h5 class="text-right"><a class="scroll" href="#top">Top</a></h5>
            </p>
        </div>
        
        <div class="col-md-3">
            <div class="hidden-xs hidden-sm">
                <div class="lead"></div>
                <h2>Latest News</h2>
                <ul>
                    {% for post in post_list %}
                    <li><a class="scroll" href="#{{ post.slug }}">{{ post.title }}</a></li>
                    {% empty %}
                    <li>Sorry, we haven't started posting yet!</li>
                    {% endfor %}
                </ul>
                </hr>
                <!-- www.intagme.com -->
                <iframe src="http://www.intagme.com/in/?u=c2FtMTB0aHB8aW58MTAwfDJ8Nnx8eWVzfDV8dW5kZWZpbmVkfHllcw==" 
                allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:230px; height: 690px" ></iframe>
            </div>    
            
            {% if user.is_authenticated %}
            <p class="text-right">
                <a href="{% url 'blog:post_add' %}">New Post
                    <span class="glyphicon glyphicon-add"/>
                </a>
            </p>
            {% endif %}
        </div>
    </div>
    
</body>
{% endblock%}
    