{% extends "_layouts/header.html" %}

{% block page_title%} Home {% endblock%}

{% block content %}
<body data-spy="scroll" data-offset="60" data-target=".navbar">

    
    {% include "_layouts/navbar.html" with  profileLink="#profile" contactLink="#contact" %}
    
    <!--  Carousel -->
    <div id="this-carousel-id" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" width="100%" src="{{ STATIC_URL }}img/dobson.jpg" alt="Slide 1" />
                <div class="carousel-caption">
                    <p>Mount Dobson, New Zealand</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" width="100%" src="{{ STATIC_URL }}img/brownShorts.jpg" alt="Slide 2" />
                <div class="carousel-caption">
                    <p>Revelstoke, British Columbia, Canada</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" width="100%" src="{{ STATIC_URL }}img/springfield.jpg" alt="Slide 3" />
                <div class="carousel-caption">
                    <p>Springfield, New Zealand</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" width="100%" src="{{ STATIC_URL }}img/banff.jpg" alt="Slide 4" />
                <div class="carousel-caption">
                    <p>Lake Louise, Alberta, Canada</p>
                </div>
            </div>
        </div>
        <!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div>
    <!-- .carousel -->
    <!-- end carousel -->

    <p class="lead lead-large" />

    <div class="container container-fluid">

        <hr  id="profile"/>
        
        <div class="row">
            
            <div class="col-md-4">
                <img class="img" src="{{ STATIC_URL }}img/SamFace.jpg" />
            </div>
            <div class="col-md-8">
                <p class="text-left">
                    <h2 class="text-left">{{ profile.firstname }}&nbsp;{{ profile.lastname }}</h2>
                    <p class="text-left">{{ profile.description | safe }} </p>
                    </p>
                </p>
            </div>
        </div>

        <hr/>

        <div class="row hidden-xs hidden-sm">
            <h3><a role="button" data-toggle="modal" data-target="#modalFirstVid">Little video?&nbsp;&nbsp;<span class="glyphicon glyphicon-expand"></span></a>
                <a class="pull-right" role="button" data-toggle="modal" data-target="#modalSecondVid">Curious about tree skiing lessons?&nbsp;&nbsp;<span class="glyphicon glyphicon-expand"></span></a>
            </h3>
        </div>
        
        <!-- first video modal -->    
        <div class="modal fade" id="modalFirstVid" tabindex="-1" role="dialog" aria-labelledby="modalFirstVid" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h5 class="text-center">Just an other winter month in Revelstoke</h1>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/tYGPH0xkSS0?html5=1"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->
        
        <!-- second video modal -->
        <div class="modal fade" id="modalSecondVid" tabindex="-1" role="dialog" aria-labelledby="modalSecondVid" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h5 class="text-center">A little tree lesson on a sunny day</h1>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zXuqoUnkfsM?html5=1"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->
        

        <hr class="hidden-xs hidden-sm"/>

        <div class="row" id="contact">
            <div class="col-md-5">
                <p clas="lead" />
                <br/>
                <br/>
                <br/>
                <blockquote>
                    <address class="inline-block">
                    <strong>{{ profile.firstname }}&nbsp;{{ profile.lastname}}</strong><br/>
                    Canadian phone :<br/>
                    <span class="glyphicon glyphicon-earphone"/>: 1 (514) 531-3944<br/>
                    <a href="mailto:#">{{ profile.contact_email }}</a><br/>
                    <small>For bookings or inquiries</small><br/>
                </address>
                    Classes depending on availability,
                    <br/>Contact <a href="http://www.revelstokemountainresort.com">RMR</a> front desk for bookings
                    <br/>
                    <span class="glyphicon glyphicon-earphone" />: 1 (250) 814-5060
                    <br/>
                </blockquote>
            </div>
            <div class="col-md-7">
                <img src="{{ STATIC_URL }}img/templeComp.jpg" />
            </div>
        </div>

        <hr/>
        
        <div class="row">
            <div class="col-lg-offset-3 col-lg-5">
                <p class="text-center">
                    Stay up to date with Sam and his adventures by submiting your email!
                    We'll send you blog updates and updates on where Sam is skiing now so you can keep up, or try to catch up.
                    <a href="{% url 'mailing-list' %}">Get News!</a>
                </p>
            </div>
        </div>
    </div>
        
        <hr/>

    <div class="container">
        <footer>
            <p>&copy; Samuel Bergeron 2014</p>
        </footer>
    </div>

</body>

</html>

{% endblock %}