{% extends "_layouts/header.html" %}

{% block page_title%} Home {% endblock%}

{% block homeLink %} #top {%endblock%}
{% block profileLink %} #profile {%endblock%}
{% block contactLink %} #contact {%endblock%}
{% block blogLink %}
    {% url 'blog:main' %}
{%endblock%}

{% block content %}
<body data-spy="scroll" data-offset="60" data-target=".navbar">

    <div id="top"/>
    
    {% block navbar %}{% endblock%}

    <!--  Carousel -->
    <div id="this-carousel-id" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" width="100%" src="{{ STATIC_URL }}img/dobson.jpg" alt="Slide 1" />
                <div class="carousel-caption">
                    <p>Mount Dobson, New Zealand</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" width="100%" src="{{ STATIC_URL }}img/brownShorts.jpg" alt="Slide 2" />
                <div class="carousel-caption">
                    <p>Revelstoke, British Columbia, Canada</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" width="100%" src="{{ STATIC_URL }}img/springfield.jpg" alt="Slide 3" />
                <div class="carousel-caption">
                    <p>Springfield, New Zealand</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" width="100%" src="{{ STATIC_URL }}img/banff.jpg" alt="Slide 4" />
                <div class="carousel-caption">
                    <p>Lake Louise, Alberta, Canada</p>
                </div>
            </div>
        </div>
        <!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div>
    <!-- .carousel -->
    <!-- end carousel -->

    <p class="lead lead-large" />

    <div class="container container-fluid">

        <hr/>
        
        <div class="row" id="profile">
            
            <div class="col-md-4">
                <img class="img" src="{{ STATIC_URL }}img/SamFace.jpg" />
            </div>
            <div class="col-md-8">
                <p class="text-left">
                    <h2 class="text-left">Sam Bergeron</h2>
                    <p class="text-left">Experienced CSIA Instructor out of Montreal, Quebec, Canada. Sam has been teaching skiing for just about 10 years now to anyone ready to learn. Most recently he's taken home to Revelstoke Mountain Resort where he trains fellow instructors and
                        guides clients around the mountain. He has experience teaching on and ripping up east coast icy groomers, New Zealand's rugged southern alps, and that good old BC powder. Passionate about progression and the ever evolving nature
                        of skiing, Sam has decided to focus his own skiing on riding harder, more technical lines in the backcountry, where his posed and practical approach to skiing has proven to be effective.
                        <br/>
                        <br/>Sam is a level 3 instructor for the Canadian Ski Instructor Association and a level 2 Canadian Ski Coach Federation race coach. He has been honing his skills to take the infamous CSIA level 4 course this year in the hopes of becoming
                        one of the youngest fully accredited instructor in Canada. In the mean time, you can always find Sam on his days off trying to find remaining powder stashes, ski touring to the nearest (or furthest, depending on the day) peak in
                        view or hanging around the base of the resort looking to meet new people to ride with.
                        <br/>
                        <br/>If you're looking to perfect your technique, or to have a tour of the mountain follow the link.
                    </p>
                    <p class="text-center"><a class="btn btn-large btn-link" href="#contact">Contact</a>
                    </p>
                </p>
            </div>
        </div>

        <hr/>

        <div class="row panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" href="#collapseFirstVid">
                    Little video? (click)
                </a>
            </div>
            <div class="panel-collapse collapse" id="collapseFirstVid">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/tYGPH0xkSS0"></iframe>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row" id="contact">
            <div class="col-md-5">
                <p clas="lead" />
                <br/>
                <br/>
                <br/>
                <blockquote>
                    <address class="inline-block">
                    <strong>Sam Bergeron</strong><br/>
                    Canadian phone :<br/>
                    <span class="glyphicon glyphicon-earphone"/>: 1 (514) 531-3944<br/>
                    <a href="mailto:#">sbergeron101@gmail.com</a><br/>
                    <small>For bookings or inquiries</small><br/>
                </address>
                    Classes depending on availability,
                    <br/>Contact <a href="http://www.revelstokemountainresort.com">RMR</a> front desk for bookings
                    <br/>
                    <span class="glyphicon glyphicon-earphone" />: 1 (250) 814-5060
                    <br/>
                </blockquote>
            </div>
            <div class="col-md-7">
                <img src="{{ STATIC_URL }}img/templeComp.jpg" />
            </div>
        </div>

        <hr/>

        <div class="row panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" href="#collapsSecondVid" data-toggle="collapse">
                    Want to see how we ride the trees? (click)
                </a>
            </div>
            <div class="panel-collapse collapse" id="collapsSecondVid">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embedded-responsive-item" src="//www.youtube.com/embed/zXuqoUnkfsM"></iframe>
                </div>
            </div>
        </div>

        <hr/>

    </div>
            
    <div class="container">
        <footer>
            <p>&copy; Samuel Bergeron 2014</p>
        </footer>
    </div>

</body>

</html>

{% endblock %}