<!DOCTYPE html>

<!-- Le javascript -->
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
<script>
    window.jQuery || document.write('&lt;script src="/static/js/jquery-1.7.2.min.js"&gt;&lt;\/script&gt;')
</script>
<!-- Bootstrap jQuery plugins compiled and minified -->
<script src="/static/js/bootstrap.min.js" />
<script>
    $(document).ready(function() {
        $('.carousel').carousel({
            interval: 4000
        });
    });

    $(document).ready(function() {
        $('.navbar li').click(function(e) {
            $('.navbar li.active').removeClass('active');
            var $this = $(this);
            if (!$this.hasClass('active')) {
                $this.addClass('active');
            }
            e.preventDefault();
        });
    });
</script>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Shred with locals</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-fixed-top navbar-default" role="navigation" id="mainNavbarId">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse-id">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p><a class="navbar-brand" href="#">Shred!
                    <extra-small>with locals</extra-small></a>
                    </p>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-id">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a>
                        </li>
                        <li><a href="#about">About</a>
                        </li>
                        <li><a href="#profiles">Profiles</a>
                        </li>
                    </ul>
                    <!-- /.nav -->
                </div>
            </div>
        </nav>
    </div>

    <!--  Carousel -->
    <div id="this-carousel-id" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="/static/img/dobson.jpg" alt="Slide 1" />
                <div class="carousel-caption">
                    <p>Mount Dobson, New Zealand</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="/static/img/brownShorts.jpg" alt="Slide 2" />
                <div class="carousel-caption">
                    <p>Revelstoke, British Columbia, Canada</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="/static/img/springfield.jpg" alt="Slide 3" />
                <div class="carousel-caption">
                    <p>Springfield, New Zealand</p>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="/static/img/banff.jpg" alt="Slide 4" />
                <div class="carousel-caption">
                    <p>Lake Louise, Alberta, Canada</p>
                </div>
            </div>
        </div>
        <!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div>
    <!-- .carousel -->
    <!-- end carousel -->
    
</body>
